 <div class="header">

    <a class="logo" href="{{ site.baseurl }}" style="background-image: url('/assets/img/logo.jpg')">史蒂芬</a>
    
    <h1 class="title">{{ site.title }}</h1>
    <h2 class="description">{{ site.description }}</h2>
    <div class="navs">
        {% for link in site.navigation %}
            {% assign current = nil %}
            {% if page.url contains link.url %}
                {% assign current = 'current' %}
            {% endif %}
            <a href="{{ link.url | prepend: site.baseurl }}" class="{{ current }}">{{ link.title }}</a>
            {% if forloop.last %}
                
            {% else %}
            &nbsp;&nbsp;·&nbsp;&nbsp;
            {% endif %}
            
        {% endfor %}
        
            
        
    </div>


    
 </div><!-- end .header -->
