<div class="header" style="background-image: url({{ '/assets/img/' | prepend: site.baseurl | append: page.image }})">


    <div class="container">
        <div class="blur"></div>

        <nav class="nav-collapse">
            <ul class="noList">
                {% for link in site.navigation %}
                  {% assign current = nil %}
                  {% if page.url contains link.url %}
                    {% assign current = 'current' %}
                  {% endif %}
                <li class="element {% if forloop.first %}first{% endif %} {{ current }} {% if forloop.last %}last{% endif %}">
                    <a href="{{ link.url | prepend: site.baseurl }}">{{ link.title }}</a>
                </li>
                {% endfor %}
                <!-- <li> <a href="https://github.com/brianmaierjr/long-haul" target="_blank">GitHub</a></li> -->
            </ul>
        </nav>

        <h2 class="logo"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h2>

        <div class="post-title">
            <h1 class="postTitle">{{ page.title }}</h1>
            <p class="meta">{{ page.date | date: site.date_format }}
               <!-- | <span class="time">{{ page.content | number_of_words | divided_by:180 }}</span> Minute Read -->
             </p>
        </div>

        <!--<h1 class="logo"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>-->

    </div>
</div><!-- end .header -->
